<form action="/admin/add-sonoff" method="GET">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <button class="btn" type="submit">Add new Sonoff</button>
</form>
<button class="btn" id="add-sonoff-button">Add new SonoffModel</button>
