body {
  font-family: arial;
  background: white;
}
h1 {
  border: 1px solid black;
  background-color: #cccccc;
  color: #3399ff;
  text-align: center;
}
.invisible {
  display: none;
}

.visible {
  display: block;
}
